<section class="section">
<div class ="section_inner">
<h1>副業編集</h1>

<%= render 'form', sub_business: @sub_business %>

<%= link_to '戻る', sub_businesses_path %>

</div>
</section>
<%= javascript_pack_tag "sub_business/form" %> 