// Place all the styles related to the timecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.alert_30{
    background-color: red;
    color: #fff;
}

.alert_20{
    background-color: rgb(255,251,0);
}